.footer {
  width: 100%;
}

.section__footer_first {
  width: 100%;
  background-color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.section__footer_first_block-one {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 71px;
}

.section__footer_first_subblock-one {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 29px;
}

.section__footer_first_subblock-two {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-white);
}

.section__footer_first_block-two {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 71px;
  margin-bottom: 71px;
}

.section__footer_first_sublock-three {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 48.8px;
}

.section__footer_first_sublock-four {
  display: flex;
  gap: 25px;
}

.section__footer_first_sublock-four > svg > use {
  fill: var(--color-blue);
}

.section__footer_first_sublock-four > svg > use:hover {
  fill: var(--color-white);
}

.section__footer_first_block-three {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 71px;
}

.section__footer_first_subblock-five {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 28.7px;
}

.section__footer_first_subblock-six {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-white);
}

.section__footer_second {
  width: 100%;
  background-color: var(--color-darkblue);
  display: flex;
  justify-content: center;
}

.section__footer_second_block {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: var(--color-darkgrey);
  text-align: center;
  margin: 24px 0;
}

.creator {
  color: var(--color-white);
  cursor: pointer;
}

.creator:hover {
  color: var(--color-red);
}

@media (max-width: 1024px) {
  .section__footer_first_subblock-one {
    font-size: 14px;
    line-height: 16px;
  }

  .section__footer_first_subblock-two {
    font-size: 14px;
    line-height: 16px;
  }

  .section__footer_first_sublock-three {
    font-size: 14px;
    line-height: 16px;
  }

  .section__footer_first_subblock-five {
    font-size: 14px;
    line-height: 16px;
  }

  .section__footer_first_subblock-six {
    font-size: 14px;
    line-height: 16px;
  }

  .section__footer_second_block {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 500px) {
  .section__footer_first {
    flex-direction: column;
    align-items: center;
  }

  .section__footer_first_block-one {
    margin-top: 34px;
  }

  .section__footer_first_subblock-one {
    margin-bottom: 34px;
  }

  .section__footer_first_block-two {
    margin-top: 69px;
    margin-bottom: 0;
  }

  .section__footer_first_block-three {
    margin-top: 59px;
    margin-bottom: 33px;
  }

  .section__footer_first_sublock-three {
    margin-bottom: 36px;
  }

  .section__footer_first_subblock-five {
    margin-bottom: 38px;
  }

  .section__footer_second_block {
    margin: 30px 0 28px;
  }
}
