.about {
  width: 100%;
  background: url("../images/big_logo.jpg") center/cover no-repeat;
  padding: 0 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image_logo {
  margin: 0;
  position: relative;
  z-index: 5;
}

.about__navigation {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey);
  align-items: center;
}

.about__navigation_link {
  transition: 1s;
}

.about__navigation_link_container {
  display: flex;
  align-items: center;
}

.about__navigation_link_block {
  height: 100%;
}

.about__navigation_link_block > a {
  height: 100%;
  display: block;
  align-items: center;
}

.about__navigation_link_block:hover {
  border-bottom: 3px solid var(--color-grey);
  line-height: 96px;
  transition: 0.3s;
}

.about__navigation_link_block:active {
  border-bottom: 3px solid var(--color-red-two);
  transition: 0.3s;
}

.about__navigation_link_block > a:active {
  color: var(--color-red-two);
  transition: 0.3s;
}

.navigation_link3 {
  width: max-content;
}

.navigation_link1,
.navigation_link2,
.navigation_link3,
.navigation_link4,
.navigation_link5 {
  margin: 0 37px;
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__burger span {
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 8.5px;
  transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  max-width: 1170px;
}

.about__content.active {
  opacity: 0;
  transition: all 0.3s;
}

.about__content_title {
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  margin-top: 130px;
  margin-bottom: 31.5px;
}

.about__content_subtitle {
  width: 100%;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-white);
}

.about__content_button {
  font-family: "Raleway";
  width: 370px;
  height: 80px;
  margin: 80px 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 24px;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-red);
}

.about__content_button:hover {
  background-color: var(--color-red-two);
  cursor: pointer;
}

.about__content_button:active {
  background-color: var(--color-red);
  box-shadow: 4px 4px 30px #ff4343;
}

.header__burger {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.about__navigation_link.active {
  top: 0;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 8.5px;
}

.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 8.5px;
}

.header__burger.active span {
  transform: scale(0);
}

@media (max-width: 1340px) {
  .about {
    padding: 0 70px;
  }

  .navigation_link1,
  .navigation_link2,
  .navigation_link3,
  .navigation_link4,
  .navigation_link5 {
    margin: 0 25px;
  }
}

@media (max-width: 1024px) {
  .about {
    padding: 0 20px;
  }

  .navigation_link1,
  .navigation_link2,
  .navigation_link3,
  .navigation_link4,
  .navigation_link5 {
    font-size: 12px;
    margin: 0 25px;
  }

  .about__content_title {
    font-size: 48px;
    line-height: 56px;
  }

  .about__content_subtitle {
    font-size: 18px;
    line-height: 21px;
    padding: 0 98px;
  }

  .about__content_button {
    width: 314px;
  }
}

@media (max-width: 865px) {
  .navigation_link1,
  .navigation_link2,
  .navigation_link3,
  .navigation_link4,
  .navigation_link5 {
    margin: 0 15px;
  }
}

@media (min-width: 769px) {
  .about__content.active {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .about__navigation_link_block:hover {
    border-bottom: none;
    line-height: normal;
  }

  .about__content.active {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .about__content_subtitle {
    padding: 0 48px;
  }

  .about__navigation_link_container {
    position: absolute;
    top: 73px;
    left: 0;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
    align-items: flex-start;
  }

  .about__navigation_link {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .image_title {
    width: 130px;
    height: 56px;
  }

  .about__content_subtitle {
    padding: 0;
  }

  .header__burger {
    width: 24px;
    height: 18px;
  }

  .header__burger span {
    top: 7.5px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 7.5px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 7.5px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .about__navigation {
    border-bottom: none;
    height: 60px;
  }

  .about__navigation_link_container {
    margin-top: 55px;
    gap: 53px;
  }

  .about__content_title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 35px;
  }
  .about__content_subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .about__content_button {
    margin-top: 49px;
    margin-bottom: 52px;
    width: 280px;
    height: 60px;
    font-size: 24px;
    line-height: 28px;
  }
}
