@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");

@import "./root.css";
@import "./nulling.css";
@import "./header.css";
@import "./main_section1.css";
@import "./main_section2.css";
@import "./main_section3.css";
@import "./main_section4.css";
@import "./main_section5.css";
@import "./footer.css";
