.section__main_second {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
}

.section__main_second-image {
  position: relative;
  flex-basis: 25%;
}

.section__main_second-image_banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.9s;
}

.banner_title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20.5px;
}
.banner_subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white);
}

.section__main_second-image:hover .section__main_second-image_banner {
  background-color: var(--color-red);
  opacity: 0.8;
  cursor: pointer;
}

.section__main_second-image:active .section__main_second-image_banner {
  background-color: var(--color-red-two);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .section__main_second-image {
    position: relative;
    flex-basis: 50%;
  }
}
