.section__main_third {
  width: 100%;
  margin-top: 114px;
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}

.section__main_third_cards {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.person_card {
  max-width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.person_card_image {
  margin-bottom: 30px;
  width: 100%;
}
.person_card_name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.person_card_prof {
  font-family: "Raleway";
  color: var(--color-red);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.person_card_info {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  color: var(--color-midgrey);
}

.facebook__icon,
.twitter__icon,
.linkedin__icon {
  width: 39px;
  height: 39px;
  fill: var(--color-white);
}

use:hover {
  fill: var(--color-red);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .person_card_name {
    font-size: 18px;
    line-height: 21px;
  }

  .person_card_prof {
    font-size: 14px;
    line-height: 16px;
  }

  .person_card_info {
    font-size: 14px;
    line-height: 16px;
  }

  .facebook__icon,
  .twitter__icon,
  .linkedin__icon {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 768px) {
  .section__main_third {
    margin-bottom: 74px;
  }

  .person_card {
    max-width: 49%;
    margin-bottom: 40px;
  }

  .section__main_third_cards {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
