.section__main_fourth {
  width: 100%;
  height: 100%;
  margin-bottom: 114px;
}

.slider {
  width: 100%;
}

.slider__item {
  display: flex;
  height: 100%;
  width: 100%;
}

.slider__item-image {
  flex-basis: 49.8%;
}

.image__women {
  object-fit: cover;
}

.slider__title_block {
  flex-basis: 49.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__title {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: var(--color-white);
  width: 50%;
}

.slider__subtitle {
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.slick-list {
  overflow: hidden;
  background-color: var(--color-purple);
}

.slick-track {
  width: 100%;
  height: 500px;
  display: flex;
  cursor: pointer;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.slider .slick-dots li {
  margin-top: 31px;
  list-style: none;
  border: 1px solid var(--color-purple);
  border-radius: 50%;
  cursor: pointer;
}

li {
  width: 14px;
  height: 14px;
}

.slider .slick-dots li.slick-active {
  background-color: var(--color-purple);
}

.slider .slick-dots li button {
  display: none;
}

@media (max-width: 1024px) {
  li {
    width: 9px;
    height: 9px;
  }

  .slider__title {
    font-size: 24px;
    line-height: 32px;
  }

  .slider__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 768px) {
  .slider__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .slider__title_block {
    height: 49.8%;
  }

  .slider__item-image {
    height: 49.8%;
  }

  .slider__title {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .section__main_fourth {
    margin-bottom: 45px;
  }

  .slider__item-image {
    flex-basis: 39.8%;
  }

  .slider__title_block {
    flex-basis: 59.8%;
  }

  .slider__title {
    width: 85%;
    text-align: center;
  }

  .slick-dots {
    gap: 20px;
  }

  .slider .slick-dots li {
    margin-top: 23px;
  }
}
