.section__main_first {
  display: flex;
  justify-content: center;
  margin-top: 116px;
}

.section__main_first_card {
  max-width: 1200px;
  height: 805px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.section__main_card {
  width: 32%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section__main_card_icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.card__icon {
  width: 100px;
  height: 100px;
}

.title__card {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 39px 0 30px;
}

.subtitle_card {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-midgrey);
}

@media (max-width: 1024px) {
  .card__icon {
    width: 85px;
    height: 84px;
  }

  .title__card {
    font-size: 18px;
    line-height: 21px;
  }

  .subtitle_card {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .section__main_first_card {
    height: 100%;
  }

  .section__main_card {
    width: 48%;
    margin-bottom: 30px;
  }

  .section__main_first {
    margin-bottom: 40px;
    margin-top: 70px;
  }
}

@media (max-width: 470px) {
  .section__main_card {
    width: 98%;
  }

  .section__main_first_card {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .section__main_first_card {
    gap: 12px;
  }

  .card__icon {
    width: 75px;
    height: 74px;
  }

  .section__main_card_icon {
    width: 75px;
    height: 74px;
  }

  .title__card {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }

  .subtitle_card {
    font-size: 14px;
    line-height: 16px;
  }

  .section__main_first {
    margin-top: 40px;
  }
}
