.section__main_fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 114px;
  padding: 0 20px;
}

.section__main_fifth_title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 18.3px;
}

.section__main_fifth_subtitle {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47.7px;
}

.section__main_fifth_button {
  font-family: "Raleway";
  width: 370px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 24px;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: #ff4343;
}

.section__main_fifth_button:hover {
  background-color: var(--color-red-two);
  cursor: pointer;
}

.section__main_fifth_button:active {
  background-color: var(--color-red);
  box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .section__main_fifth_title {
    font-weight: 500;
    font-size: 24px;
  }

  .section__main_fifth_subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .section__main_fifth_button {
    width: 314px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 320px) {
  .section__main_fifth {
    margin-bottom: 45px;
  }

  .section__main_fifth_title {
    font-size: 18px;
    line-height: 21px;
  }

  .section__main_fifth_subtitle {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }

  .section__main_fifth_button {
    width: 279px;
  }
}
