:root {
  --color-white: white;
  --color-red: #ff4343;
  --color-red-two: #e71414;
  --color-purple: #5c3249;
  --color-grey: #babbc5;
  --color-blue: #353c65;
  --color-darkblue: #2c3154;
  --color-darkgrey: #808080;
  --color-midgrey: #6c7279;
}
